# Core dependencies
numpy
requests
aiohttp
python-dotenv

# Audio and TTS dependencies
pyaudio
pyobjc
playsound

# Additional libraries
pvporcupine
soco

Flask==3.1.0
netifaces==0.11.0
openai==0.28.0
zeroconf==0.143.0
supabase==2.13.0
google-auth==2.20.0
google-auth-oauthlib==0.8.0
google-api-python-client==2.68.0
